<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" (click)="logout()">Mercury</ion-title> 
    </ion-toolbar>
  </ion-header>

 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      teste
    </ion-title>

  </ion-toolbar>

</ion-footer>
