#logo-div {
    height: 60%;
    display: flex;
    align-items: center;      // alinhamento vertical
    justify-content: center; // alinhamento horizontal

    h3{
        text-align: center;
    }

    img {
       align-items: center;
       width: 250px;
    }

  
}

