<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <img src="../../../../../assets/icon/Mercury_financas_logo.png">
    <h3>Mercury Finanças</h3>
  </ion-text>
</div>